@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
}

a:hover {
    color: red;
    background-color: white;
    border: 1px solid black;
}


html {
    background-color: rgb(223, 206, 200);
}

body {
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    padding: 16px;
    /* padding: top left bottom right*/
}

footer {
    padding: 24px 24px 0px 0px;
    background-color: rgb(110, 152, 83);
    color: black;
    /* padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px; */
}

img {
    height: 200px;
}

/* nav a{
    color: blue;
} */

nav {
    padding: 16px;
    border-bottom: 1px solid blue;
    background-color: pink;
}

/* a:hover {
    color: solid red;
    background-color: white;
    border: 1px solid black;
} */


.container{display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0px 0px;
    /* border: 4px solid red; */
}

/* div {
    border: 4px solid black;
} */

/* *{border: 4px solid green; } */
h1 {
    color: red;
}

h2 {
    color: purple;
}

/* a {
    color: blue;
    text-decoration: none;
} */

/* tr:nth-child(even) {
    background-color: grey;
}

tr:nth-child(odd) {
    background-color: pink;
}

th {
    background-color: grey;
} */

.colors tr:nth-child(even) {
    background-color: gray;
}
